<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SimpleMonitor.Properties.Settings>
            <setting name="LoadBinary_FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadBinary_BankNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadBinary_BankOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Settings_IpBindAddress" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Settings_Port" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="LoadBinary_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Settings_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindow_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindow_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindow_State" serializeAs="String">
                <value>Normal</value>
            </setting>
        </SimpleMonitor.Properties.Settings>
    </userSettings>
</configuration>